/* @section-3 layout */
.label-context {
  flex: 1
}
.label-context h5 {
  height: 40%;
  padding: 5%;
  display: flex;
  font-family: var(--font-bagoss-trial);
  font-size: var(--text-heading-5);
  font-weight: 400;
  text-align: center;
  justify-content: center;
  margin-top: calc(10% + 86px);
}