.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    height: 86px;
    width: 100%;
    z-index: 10;
    position: absolute;
}

/* @icon button */
.icon-button {
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

/* @add bounce animation */
.icon-button:active {
    transform: scale(0.6);
    transition: 0.4s ease-in;
}

/* @logo */
.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}