.header {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    height: 86px;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    position: absolute;
}

/* @icon button */
.icon-button {
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

/* @logo */
.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}