:root {
  --background: #0C0D10;
  --foreground: #FAFAFA;
  --primary: #B488F2;
  --secondary: #FFD700;
  --danger: #FF0000;
  --success: #00FF00;
  --warning: #FFA500;
  --color-text: #FFFFFF;
  --radiant-gradient: radial-gradient(circle, #222737, #0C0D10);
  --text-heading-1: 32px;
  --text-heading-2: 28px;
  --text-heading-3: 24px;
  --text-heading-4: 22px;
  --text-heading-5: 20px;
  --text-heading-6: 18px;
  --text-body: 16px;
  --text-caption: 12px;
  --swiper-pagination-color: var(--primary);
  --swiper-pagination-bullet-inactive-color: var(--color-text);
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;

}

/* @global rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @body */
body {
  background-color: var(--background);
  overflow: hidden;
}
