.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  position: relative;
}

.section {
  height: calc(100% - 86px);
  width: 100%;
  padding: 5%;
  position: absolute;
}

.section-1 {
  background-color: aqua;
  z-index: 3;
}

.section-2 {
  background-color: yellow;
  z-index: 2;
}

.section-3 {
  background-color: magenta;
  z-index: 1;
}

.button {
  width: 90%;
  height: 50px;
  border-radius: 19px;
  background-color: var(--primary);
  position: absolute;
  bottom: 5%;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}