/* @main container layout */
.content-container {
  padding: 5%;
}

/* @section layout */
.section {
  height: calc(100% - 86px);
  margin-top: 86px;
  width: 100%;
  position: absolute;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  z-index: 1;
  opacity: 0;
}

/* @HOME:section-1 layout */
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 10% 5%;
}
.main-content p{
  width: 70%;
  font-family: var(--font-sohne);
  font-size: var(--text-caption);
  font-weight: 400;
}
.align-right {
  align-self: flex-end;
  text-align: right;
}
.content-heading {
  font-family: var(--font-bagoss-trial);
  font-size: var(--text-heading-2);
  text-align: center;
  font-weight: 400;
}
.gradient-text {
  background: linear-gradient(90deg, #FABBFF, #B179FF, #6DDDFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}