/* @section-4 layout */
.info-container {
    flex: 1;
    height: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-container h5 {
    text-align: center;
    font-family: var(--font-bagoss-trial);
    font-size: var(--text-heading-5);
    font-weight: 400;
    padding: 5%;
    top: calc(10% + 86px);
    position: relative;
  }